*{
    margin: 0;
    padding: 0;
}
#home-screen{

    width: 100vw;
    height: 100vh;
    background-color: black;
    text-align: center;
}

#header{
    padding-top: 2%;
    color: white;
    font-family: "Noto Serif", serif;
}

#change-bg-color{
    color: brown;
    margin-top: 3%;
}

#earth1{
    margin-top: 70px;
}

#earth2{
    margin-top: 70px;
}

button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    font-family: "Noto Serif", serif;
}

#nd{
    display: block;
    margin-right: auto;
    margin-left: 20px;
    margin-top: -650px;
    width: 310px;
}

#hw{
    display: block;
    margin-right: auto;
    margin-left: 20px;
    width: 300px;
    margin-top: 30px;
}

#ag{
    display: block;
    margin-right: 20px;
    margin-left: auto;
    margin-top: -650px;
    width: 300px;
}

#hh{
    display: block;
    margin-right: 20px;
    margin-left: auto;
    margin-top: 30px;
    width: 300px;
}

.fade-in{
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

.fade-in.loaded{
    opacity: 1;
}

#nd-txt{
    margin-left: auto;
    margin-right: 770px;
    margin-top: -500px;
    font-family: "Noto Serif", serif;
    color: white;
    font-size: xx-small;
}

#hw-txt{
    margin-left: auto;
    margin-right: 710px;
    margin-top: -200px;
    font-family: "Noto Serif", serif;
    color: white;
    font-size: xx-small;
}

#ag-txt{
    margin-left: 750px;
    margin-right: auto;
    margin-top: -620px;
    font-family: "Noto Serif", serif;
    color: white;
    font-size: xx-small;
}

#hh-txt{
    margin-left: 750px;
    margin-right: auto;
    margin-top: -270px;
    font-family: "Noto Serif", serif;
    color: white;
    font-size: xx-small;
}



.fade-in-text{
    font-family: "Noto Serif", serif;
    color: white;
    font-size: xx-small;

}

.fin-nd{
    display: none;
}

.fin-hw{
    display: none;
}

.fin-ag{
    display: none;
}

.fin-hh{
    display: none;
}